body {
    font-family: Finlandica, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 1370px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color:rgb(229, 226, 226);
}

.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.nav {
    text-align: center;
}

.nav_link {
    text-decoration: none;
    color:black;
    margin: 0 20px;

    
}

* {box-sizing: border-box;}
    
form {
      position: relative;
      width: 200px;
      margin-top: 1%;

    }

    input, button {
      border: none;
      outline: none;
      border-radius: 3px;
    }
    input {
      width: 100%;
      height: 38px;
      background: #ffffff;
      padding-left: 15px;
}

button {
      height: 26px;
      width: 26px;
      position: absolute;
      top: 8px;
      right: 8px;
      background: #ff0000;
      cursor: pointer;
}
button:before {
      content: "\f105";
      font-family: FontAwesome;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
}

.footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgb(229, 226, 226);
}


.number {
    color:black;
    text-align: right;
}



.btn {
    font-size: 20px;
    color: #fff;
    background: rgb(199, 11, 11);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 15px;
    background-size: 200%;
    margin-right: 20%;
}

.photo {
    margin-top: 20%;
}

.photo1 {
    margin-top: 23%;

}

.news1 {
    color: black;
    width: 150px;
    height: auto;
    text-align: left;
    font-size: 15px;
    float: left;
    

}

.news2 {
    color: black;
    width: 200px;
    text-align: left;
    font-size: 15px;
    float: left;
    
}

.content {
    color: black;
    width: 1000px;
    height: 100px;
    margin-bottom: 20%;
    text-align: center;

}

.slovo {
    color:black;
    margin-right: 17%;
    margin-top: -7%;
}

.slogan {
    margin-right: 17%;
    margin-top: 10%;
}

.fil {
    text-decoration: none;
    color: black

}

.modalDialog {
    color: black;
	position: fixed;
	font-family: Finlandica, Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: rgb(229, 226, 226);
	background: rgb(229, 226, 226)k;
	background: rgb(229, 226, 226)k;
}

.close {
	background: rgb(229, 226, 226);
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #000000; }

* {box-sizing: border-box}

.btttn1 {
    margin-left: 75%;
    font-size: 20px;
    font-family: Finlandica, Arial;
    color: #fff;
    background: rgb(199, 11, 11);
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 10px;
    background-size: 200%;
}